
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.page-container{
    /* border:1px solid black; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginForm-container{
    /* border:1px solid black; */
    height: 500px;
    width: 700px;
    display: flex;
    box-shadow: 2px 3px 30px gray;
}
.logo-con{
    /* border:1px solid black;  */
    width: 250px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: coral;
}
.sub-logo-con{
    /* border:1px solid black; */
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}
.sub-logo-con > p {
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 12px;
}

.sub-logo-con > img {
  width: 75px;
  margin-bottom: 20px;
  text-align: justify;

} 
.back-colour-div{
    position: absolute;
    height: 100vh;
    /* border:1px solid black; */
    width: 42.8%;
    z-index: -1;
    background-color: coral;
}

.form-con{
    /* border: 1px solid black;  */
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#needHelpText {
    position: absolute;
    right: 20px;
    top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
}
.login-form-con {
    /* border: 1px solid black; */
    width: 350px;
} 
.login-form-con > h1 {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 25px;
}

.form-group{
    margin-bottom: 15px;
}

.form-group > label {
    display: block;
    font-weight: bolder;
    margin-bottom: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Flex', sans-serif;

}

.form-group > input{
    width: 100%;
    padding: 7px;
    
}


.ForgetPasswordText{
    display: block;
    text-align: right;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
}

.loginBtn{
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    border: 0px;
    background-color: coral;
}